.head{
    background-color: rgba(0, 84, 172, 1);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    margin: auto;
    color: white;
    font-size: 45px;
}
#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#terra{
    font-family: 'Cinzel', sans-serif;
    letter-spacing: 10px;
}
#bak{
    font-family: 'Allura', sans-serif;
}
#main{
    max-width: 700px;
    width: 100%;
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav{
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    width: 100%;
    gap: 30px;
    height: 50px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#nav button{
    background-color: rgba(0, 84, 172, 1);
    color: white;
    border: none;
    padding: 2px 15px 2px 15px;
    font-size: 20px;
    width: 150px;
}
#nav button:hover{
    background-color: white;
    color:  rgba(0, 84, 172, 1);
    transition: 0.5s;
}
#nav button{
    display: inline-block;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    align-items: center;
    min-height: 500px;
}
.item{
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0 10px 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}
.name-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name{
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    font-weight: 450;
    width: 250px;
}
.name-drink{
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    font-weight: 450;
    width: 250px;
}
.desc{
    font-style: italic;
    width: 250px;
}
.price{
    font-size: 20px;
    width: 80px;
}
#logo-png{
    width: 500px;
    margin: -50px auto auto auto
}
#footer-logo{
    width: 80px;
}
#trick{
    display: block;
}
.footer-divs{
    width: 100px;
}
.drinkToggle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 500px;
    background-color: rgba(0, 84, 172, 1);
    color: white;
    font-size: 25px;
}
#toggleLogo{
    width: 50px;
}
.drinkName{
    width: 300px;
}
@media (max-width: 768px) {
    .head{
        height: 100px;
        font-size: 35px;
    }
    #main{
        max-width: 350px;
    }
    #nav button{
        width: 130px;
        font-size: 18px;
    }
    .menu{
        min-height: 350px;
    }
    #nav{
        max-width: 350px;
        width: 90%;
        gap: 15px;
        margin-bottom: 80px;
    }
    .item{
        width: 300px;
        padding: 5px 10px 5px 10px;
    }
    .name{
        font-size: 20px;
        width: 200px;
    }
    .name-drink{
        font-size: 16px;
        width: 200px;
    }
    .desc{
        font-size: 15px;
        width: 200px;
    }
    .price{
        font-size: 15px;
    }
    #logo-png{
        width: 300px;
        margin-top: -30px;
    }
    #footer-logo{
        width: 60px;
    }
    .footer-divs{
        font-size: 13px;
    }
    .drinkToggle{
        width: 320px;
        font-size: 20px;
    }
    .drinkName{
        width: 200px;
    }
}